<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        body {
  background-image: url('https://images.pexels.com/photos/5088021/pexels-photo-5088021.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2');
  background-size: cover;
  background-repeat: no-repeat;
}

        .container-box {
        background-color: white;
        position: absolute;
        left: 495px;
        top: 260px;
        width: 562px;
        height: 413px;
        }


    </style>
    <meta charset="UTF-8">
    <title>Student Details</title>
</head>
<body>
<form method="post"> {% csrf_token %}
<!--<div style="background-color: #f2f2f2;">-->
<div style="background-color: #f2f2f2;" class="container-box">
<center>
    <h2>Student Details</h2>
    <br>
    <label>Student Name :</label>
    <input type="text" name="student_name" placeholder="Enter Student Name">
    <br><br>
    <label>Date of Birth :</label>
    <input type="date" name="dateofbirth">
    <br><br>
    <h3>Marks</h3>
    <label>Physics :</label>
    <input type="number" name="physics" placeholder="Score out of 100" >
    <br><br>
    <label>Chemistry :</label>
    <input type="number" name="chemistry" placeholder="Score out of 100" >
    <br><br>
    <label>Maths :</label>
    <input type="number" name="maths" placeholder="Score out of 100" >
    <br><br>
    <label>Computer Science :</label>
    <input type="number" name="computerscience" placeholder="Score out of 100" >
    <br><br>
    <input type="submit" name="Submit" >
    <a href="http://127.0.0.1:8000/studentapp/stud_display/">View Details</a>
</center>
</div>
<!--</div>-->
</form>
</body>
</html>